body, html{
	height:100%;
	width: 100%;
	
}

.wrap{

	height: 100%;
	background: #1e7b1e;
	color: white;

}

form > p > a {
	text-decoration: none;
	color: #999999;
}

form > p > a:hover{
	text-decoration: none;
	color: #999999;
}

.my-btn{
	background-color: #222222;
	color: white;
}

.my-btn:hover{
	background-color: #999999;

}

.colored > li{
	background-color:  #1e7b1e !important;

}

.colored > li > a{
	background-color: #222222;
	color: white;
}

.colored > li > a:hover{
	color: #999999;
}

.colored .active a{
	background-color: #999999 !important; 
}

#modalForm{
	color: black;
}

#rosterSection{
	padding-top: 80px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #aa7243;
}