html, body{
  height: 100%;
  width: 100%;
  background-color: #333333;
}

h1, h2{
  color: #E05151;
  font-family: 'Droid Sans', sans-serif;
  
}

form > h2{
  font-weight: 100;
  color: #FFFFFF;
}

@media (max-width: 1000px){
    .container h2{
      font-size: 16pt !important;  
    }

    .containter .orDiv #orLogin{
      font-size: 10pt !important;
    }
}

.container{
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  flex-direction: column; 
}

.orDiv #orLogin{
  
  font-size:45px;
  color: #E05151;
  padding-top: 45px;
  padding-bottom: 45px;
}

#title{
  font-weight: 700;
  color: #E05151;
 
  padding-bottom: 55px;
  font-size: 65px;
}

.hide{
  visibility: hidden;
}

.show{
  visibility: visible; 
}

.alert{
  padding-top: 20px;
}





